
/* 


header{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: block;
  background-color: #fef3d5;
  justify-content: center;
  text-align: center;
} */

/*Rememb*/
.dummy{
  display: flex;
  justify-content: center;

  width: 100%;
}
:root
{
  --logo-size: 70%;
  --min-width-1 : 70px;

  --linkedinHoverColor : #0a66c2;
  --githubHoverColor : #f2f2f2;
  --youtubeHoverColor : #ff0000;
  --itchioHoverColor : #fa5c5c;
  --twitterHoverColor : #1da1f2;
  --instaHoverColor : #ff0069;

  /*AK Palatte*/
  --ak-black: #232323;
  --ak-beige: #fff3d5;
  --ak-1-yellow: #ffd644;
  --ak-2-orange-1: #ffb64a;
  --ak-3-orange-2: #ff9620;
  --ak-4-red-1: #ff4a45;
  --ak-5-red-2: #ff004a;
  --ak-6-pink: #d61488;
  --ak-7-purple-1: #b00888;
  --ak-8-purple-2: #740090;
  --ak-9-purple-3: #5d38a8;
  --ak-10-blue: #2270a2;
  --ak-11-turquoise: #229aa2;
  --ak-12-green-1: #48cea2;
  --ak-13-green-2: #9cdcbc;
  --ak-14-green-3: #bee8b4;
}

body{
  font-family: 'Comfortaa', cursive;
  margin: 0%;
  
}
/* helpers/grid.css */
.header
{
  z-index: 10;
  width: 100%;
  height: 92px;  
  position: fixed;
  top:0%;
}
.footer-page
{
  background-color: var(--ak-black);
  color: azure;
  
  display: flex;
  box-sizing: border-box;

  align-items: center;

  height: 70px;
  width: 100%;

}
.siteAuthor{
  padding-left: 40px;
  display: inline-block;
}
.siteAuthor p i{
  padding-left: 5px;
  padding-right: 5px;
}
.socials{
  flex: 1;
  text-align: right;
  padding-right: 50px;
}
.invertTrue{
  filter: brightness(0) saturate(100%) invert(97%) sepia(67%) saturate(528%) hue-rotate(308deg) brightness(101%) contrast(105%)
}
.socials .icons{
  list-style: none;
  margin-left: 35px;
  display: inline-block;

}
.icons a i{
  transition: color 0.5s ease;
}
.icon-1:hover a i{
  color: var(--githubHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-2:hover a i{
  color: var(--linkedinHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-3:hover a i{
  color: var(--youtubeHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-4:hover a i{
  color: var(--itchioHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-5:hover a i{
  color: var(--twitterHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-6:hover a i{
  color: var(--instaHoverColor);
  transition: color 0.5s ease-in-out;
}

.icons a{
  text-decoration: none;
  font-size: 20px;
  color: var(--ak-beige);

}
.navbar{
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  background-color: var(--ak-beige);
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  margin-left: 50px;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: var(--ak-black);
  font-weight: 700;
  font-size: 20px;

}
.logo {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  top: -20%;
  transition: transform ease 800ms;
}

.item0{

  width: var(--logo-size);
  min-width: var(--min-width-1);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform ease 800ms;
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10,.item11,.item12,.item13,.item14{
  width: var(--logo-size);
  min-width: var(--min-width-1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  transition: transform ease 800ms;
  transition: 0.8s;
}
.page
{
  position: absolute;
  top: 95px;
}
.content{
  padding-left: 20%;
  padding-right: 20%;
}
.logo:hover .item0{
  transform: translate(0, 0);
}
.logo:hover .item1{
  /* color:#FFD644; */
  transform: translate(0, 2px);
  opacity: 1;
}
.logo:hover .item2{
  transform: translate(0, 4px);
  opacity: 1;
}
.logo:hover .item3{
  transform: translate(0, 6px);
  opacity: 1;
}
.logo:hover .item4{
  transform: translate(0, 8px);
  opacity: 1;
}
.logo:hover .item5{
  transform: translate(0, 10px);
  opacity: 1;
}
.logo:hover .item6{
  transform: translate(0, 12px);
  opacity: 1;
}
.logo:hover .item7{
  transform: translate(0, 14px);
  opacity: 1;
}
.logo:hover .item8{
  transform: translate(0, 16px);
  opacity: 1;
}
.logo:hover .item9{
  transform: translate(0, 18px);
  opacity: 1;
}
.logo:hover .item10{
  transform: translate(0, 20px);
  opacity: 1;
}
.logo:hover .item11{
  transform: translate(0, 22px);
  opacity: 1;
}
.logo:hover .item12{
  transform: translate(0, 24px);
  opacity: 1;
}
.logo:hover .item13{
  transform: translate(0, 26px);
  opacity: 1;
}
.logo:hover .item14{
  transform: translate(0, 28px);
  opacity: 1;
}



