
/* 


header{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: block;
  background-color: #fef3d5;
  justify-content: center;
  text-align: center;
} */

/*TODO: Remember to remove once live*/
.dummy{
  display: flex;
  justify-content: center;

  width: 100%;
}


:root
{
  --logo-size: 70%;
  --min-width-1 : 70px;

  --linkedinHoverColor : #0a66c2;
  --githubHoverColor : #f2f2f2;
  --youtubeHoverColor : #ff0000;
  --itchioHoverColor : #fa5c5c;
  --twitterHoverColor : #1da1f2;
  --instaHoverColor : #ff0069;
  --white-1: #ffffff;
  /*AK Palatte*/
  --ak-black: #232323;
  --ak-beige: #fff3d5;
  --ak-1-yellow: #ffd644;
  --ak-2-orange-1: #ffb64a;
  --ak-3-orange-2: #ff9620;
  --ak-4-red-1: #ff4a45;
  --ak-5-red-2: #ff004a;
  --ak-6-pink: #d61488;
  --ak-7-purple-1: #b00888;
  --ak-8-purple-2: #740090;
  --ak-9-purple-3: #5d38a8;
  --ak-10-blue: #2270a2;
  --ak-11-turquoise: #229aa2;
  --ak-12-green-1: #48cea2;
  --ak-13-green-2: #9cdcbc;
  --ak-14-green-3: #bee8b4;

  /*Fonts*/
  --font-comfortaa: 'Comfortaa', cursive;
  --font-text: 'Poppins', sans-serif;
  --font-codeText: 'Space Mono', monospace;
  --font-heading-1: 'Syne', sans-serif;
  --font-heading-2:'Krona One', sans-serif;
}

body{
  font-family: var(--font-text);
  margin: 0%;
  padding: 0%;
  
}
/**Dark theme A/B*/
.invertTrue{
  filter: brightness(0) saturate(100%) invert(97%) sepia(67%) saturate(528%) hue-rotate(308deg) brightness(101%) contrast(105%)
}

/* helpers/grid.css */
.header{
  z-index: 10;
  width: 100%;
  height: 92px;  
  top:0%;
  background-color: var(--white-1);
  transition: box-shadow 0.5s ease-in-out, background-color 0.8s ease-in-out;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--ak-beige);
  box-shadow: 0px 5px 35px #bbbbbb;
  transition: box-shadow 0.5s ease-in-out,background-color 0.8s ease-in-out;
}

/**H-AK Logo*/
.logo {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  top: -20%;
  transition: transform ease 800ms;
}
.item0{

  width: var(--logo-size);
  min-width: var(--min-width-1);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform ease 800ms;
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10,.item11,.item12,.item13,.item14{
  width: var(--logo-size);
  min-width: var(--min-width-1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  transition: transform ease 800ms;
  transition: 0.8s;
}
.logo:hover .item0{
  transform: translate(0, 0);
}
.logo:hover .item1{
  /* color:#FFD644; */
  transform: translate(0, 2px);
  opacity: 1;
}
.logo:hover .item2{
  transform: translate(0, 4px);
  opacity: 1;
}
.logo:hover .item3{
  transform: translate(0, 6px);
  opacity: 1;
}
.logo:hover .item4{
  transform: translate(0, 8px);
  opacity: 1;
}
.logo:hover .item5{
  transform: translate(0, 10px);
  opacity: 1;
}
.logo:hover .item6{
  transform: translate(0, 12px);
  opacity: 1;
}
.logo:hover .item7{
  transform: translate(0, 14px);
  opacity: 1;
}
.logo:hover .item8{
  transform: translate(0, 16px);
  opacity: 1;
}
.logo:hover .item9{
  transform: translate(0, 18px);
  opacity: 1;
}
.logo:hover .item10{
  transform: translate(0, 20px);
  opacity: 1;
}
.logo:hover .item11{
  transform: translate(0, 22px);
  opacity: 1;
}
.logo:hover .item12{
  transform: translate(0, 24px);
  opacity: 1;
}
.logo:hover .item13{
  transform: translate(0, 26px);
  opacity: 1;
}
.logo:hover .item14{
  transform: translate(0, 28px);
  opacity: 1;
}
/**H-Navigation Bar*/
.navbar{
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  /*background-color: var(--ak-beige);*/
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  margin-left: 50px;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: var(--ak-black);
  font-family: var(--font-heading-2);
  font-weight:bold;
  font-size: 25px;
}



.footer{
  background-color: var(--ak-black);
  color: azure;
  
  display: flex;
  box-sizing: border-box;
  font-family: var(--font-text);
  font-weight: 300;
  align-items: center;
  position: relative;
  height: 90px;
  width: 100%;
  bottom: 0%;

}
.siteAuthor{
  padding-left: 40px;
  display: inline-block;
  font-family:var(--font-comfortaa);
  font-weight: 700;
}
.siteAuthor p i{
  padding-left: 5px;
  padding-right: 5px;
}

.socials{
  flex: 1;
  text-align: right;
  padding-right: 50px;
  font-family:var(--font-comfortaa);
  font-weight: 300;
}
.icons{
  list-style: none;
  margin-left: 5px;
  display: inline-block;

}
.icons a{
  text-decoration: none;
  
  
}
.iconColor-1 a{
  color: var(--ak-beige);
  font-size: 20px;
}
.iconColor-2 a{
  color: var(--ak-black);
  font-size: 25px;
}
.reachOut{
  flex: 1;
  text-align: left;
  margin-top: 25px;
  padding-right: 50px;
  font-family:var(--font-comfortaa);
  font-weight: 300;
}
.icons a i{
  transition: color 0.5s ease;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.icon-1:hover a i{
  color: var(--githubHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-2:hover a i{
  color: var(--linkedinHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-3:hover a i{
  color: var(--youtubeHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-4:hover a i{
  color: var(--itchioHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-5:hover a i{
  color: var(--twitterHoverColor);
  transition: color 0.5s ease-in-out;
}
.icon-6:hover a i{
  color: var(--instaHoverColor);
  transition: color 0.5s ease-in-out;
}
.logoMask{
  
  -webkit-mask-image: url('https://arvindg.com/images/logo_h_img/ResumeAsset%20127.svg');
  mask-image: url('https://arvindg.com/images/logo_h_img/ResumeAsset%20127.svg');
  -webkit-mask-size: 50%;
  mask-size:50%;
  -webkit-mask-position:  center;
  mask-position:  center;
  mask-border: 2px;
  -webkit-mask-border: 2px;

  -webkit-mask-repeat: no-repeat;
  mask-repeat:no-repeat;    
}
.rainbow{
  width: 950px;
  text-align: right;
}

.btn {
  animation: backgroundColorAnim;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border: none; 
  border-radius: 25px;
  color: white; 
  padding: 12px 16px;
  margin-top: 25px;
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer; 
  align-content: center;
}
.btn i {
  padding-left: 10px;
  height: 100%;
  font-size: 16px;
}

.page{
  padding-top: 16px;
  padding-left: 5%;
  padding-right: 5%;
}

.sticky+.page{
  padding-top: 102px;
}
#tagLine{
  font-family: var(--font-heading-2);
  font-weight: 800;
  font-size: 20px;
  margin-top: 5px;
}
.introTitle{
  font-family: var(--font-heading-2);
  font-weight: 800;
  font-size: 80px;
  margin-bottom: 10px;
}
.introduction{
  align-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: calc(80vh - 100px);
  margin-bottom: 100px;
}

#changeColor{
  animation-name: colorAnim;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#subText{
  font-size: 50px;
}
@keyframes colorAnim {
  0%    {color:var(--ak-1-yellow)}
  7%    {color:var(--ak-2-orange-1)}
  14%   {color:var(--ak-3-orange-2)}
  28%   {color:var(--ak-4-red-1)}
  35%   {color:var(--ak-5-red-2)}
  42%   {color:var(--ak-6-pink)}
  49%   {color:var(--ak-7-purple-1)}
  56%   {color:var(--ak-8-purple-2)}
  63%   {color:var(--ak-9-purple-3)}
  70%   {color:var(--ak-10-blue)}
  77%   {color:var(--ak-11-turquoise)}
  82%   {color:var(--ak-12-green-1)}
  89%   {color:var(--ak-13-green-2)}
  100%  {color:var(--ak-1-yellow)}

}
@keyframes backgroundColorAnim {
  0%    {background-color:var(--ak-1-yellow)}
  7%    {background-color:var(--ak-2-orange-1)}
  14%   {background-color:var(--ak-3-orange-2)}
  28%   {background-color:var(--ak-4-red-1)}
  35%   {background-color:var(--ak-5-red-2)}
  42%   {background-color:var(--ak-6-pink)}
  49%   {background-color:var(--ak-7-purple-1)}
  56%   {background-color:var(--ak-8-purple-2)}
  63%   {background-color:var(--ak-9-purple-3)}
  70%   {background-color:var(--ak-10-blue)}
  77%   {background-color:var(--ak-11-turquoise)}
  82%   {background-color:var(--ak-12-green-1)}
  89%   {background-color:var(--ak-13-green-2)}
  100%  {background-color:var(--ak-1-yellow)}

}
/* .content{
  padding-left: 20%;
  padding-right: 20%;
} */

code{
  font-family: var(--font-codeText);
  font-weight: bold;
  color: #ffffff;
}
.codeBlock{
  margin-left: 50px;
  margin-right: 50px;
  margin-top:20px;
  margin-bottom: 30px;
  background-color: #323233;
  padding: 20px;
  border-radius: 25px;
}

/*Programing Styles*/
#Pkey
{
  color:var(--ak-4-red-1);
}
#Pfunc
{
  color:var(--ak-13-green-2);
}
#Pvar
{
  color:var(--ak-1-yellow)
}
#Plib
{
  color:var(--ak-3-orange-2);
}
#Pcomm
{
  color:var(--ak-12-green-1);
}
#Pindt{
  margin-left: 20px;
}






