:root
{
  --logo-size: 75%;
  --min-width-1 : 60px;

  --translateDis: 2.2px;

  --lightModeBGcolor: #f1f1f8;
  --boxShadowAcolor: #cdcdd3;
  --boxShadowBcolor: #ffffff;
  --linkedinHoverColor : #0a66c2;
  --githubHoverColor : #f2f2f2;
  --youtubeHoverColor : #ff0000;
  --itchioHoverColor : #fa5c5c;
  --twitterHoverColor : #1da1f2;
  --instaHoverColor : #ff0069;

  /*AK Palatte*/
  --ak-black: #232323;
  --ak-beige: #fff3d5;
  --ak-1-gold: #ffcc33;
  --ak-2-orange: #ff9933;
  --ak-3-red: #ff4a45;
  --ak-4-neonpink: #ff0066;
  --ak-5-fuchsia: #cc0099;
  --ak-6-magenta: #990099;
  --ak-7-darkpurple: #740090;
  --ak-8-purple: #5d38a8;
  --ak-9-darkblue: #2270a2;
  --ak-10-turquoise: #229aa2;
  --ak-11-green: #48cea2;
  --ak-12-lightgreen: #bee8b4;

  /*Fonts*/
  --font-heading-1: 'Syne', sans-serif;
  --font-heading-2:'Krona One', sans-serif;

  --font-comfortaa: 'Comfortaa', cursive;
  --font-text: 'Poppins', sans-serif;
  --font-codeText: 'Space Mono', monospace;

  --font-telugu: 'Noto Sans Telugu', sans-serif;
  --font-hindi: 'Noto Sans', sans-serif;
  --font-japanese: 'Noto Sans JP', sans-serif;

}

html{
  scroll-behavior:auto;
}

body{
  padding-top: 64px;
  font-family: var(--font-text);
  background-color: var(--lightModeBGcolor);

  /* Add your background pattern here */
  background-image: radial-gradient(rgba(12, 12, 12, 0.062) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  /* animation-name: gradientBG;
  animation-duration: 20s;
  animation-iteration-count: infinite; */

}

/* @keyframes gradientBG{
  0% {
    background-image: radial-gradient(circle at 2px 2px,rgba(12, 12, 12, 0.062) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
  20% {    background-image: radial-gradient(circle at 1px 1px,rgba(12, 12, 12, 0.062) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
  100%{   background-image: radial-gradient(circle at 2px 2px,rgba(12, 12, 12, 0.062) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
}
div,nav,button,i,p,h1,img,span{
  border: solid;
  border-width: 0px;
  border-color: red;
}
*/

/**
Header----------------------------------------------->
*/

/* helpers/grid.css */
.header{
  background-color: var(--lightModeBGcolor);
  transition: box-shadow 0.5s ease-in-out, background-color 0.8s ease-in-out;
}
.sticky {
  box-shadow: 0px 3px 18px var(--boxShadowAcolor);
  transition: box-shadow 0.5s ease-in-out,background-color 0.8s ease-in-out;
}

.logo {
  cursor: pointer;
  position: relative;
  transition: translate ease 800ms;
}
.logo img{
  width: var(--logo-size);
  min-width: var(--min-width-1);
  position: absolute;
}

#mainLogo{
  filter: invert(13%) sepia(3%) saturate(2%) hue-rotate(314deg) brightness(94%) contrast(96%);
}

@media only screen and (min-width:1000px) {

  /**H-AK Logo*/
  #ak-1{
    filter: invert(79%) sepia(92%) saturate(1190%) hue-rotate(328deg) brightness(102%) contrast(101%);
  }
  #ak-2{
    filter: invert(61%) sepia(34%) saturate(977%) hue-rotate(344deg) brightness(104%) contrast(102%);
  }
  #ak-3{
    filter: invert(54%) sepia(92%) saturate(4676%) hue-rotate(335deg) brightness(103%) contrast(103%);
  }
  #ak-4{
    filter: invert(19%) sepia(81%) saturate(7451%) hue-rotate(329deg) brightness(99%) contrast(108%);
  }
  #ak-5{
    filter: invert(15%) sepia(94%) saturate(7145%) hue-rotate(308deg) brightness(87%) contrast(104%);
  }
  #ak-6{
    filter: invert(11%) sepia(100%) saturate(5441%) hue-rotate(296deg) brightness(77%) contrast(108%);
  }
  #ak-7{
    filter: invert(9%) sepia(70%) saturate(5041%) hue-rotate(284deg) brightness(114%) contrast(120%);
  }
  #ak-8{
    filter: invert(23%) sepia(21%) saturate(6652%) hue-rotate(246deg) brightness(89%) contrast(90%);
  }
  #ak-9{
    filter: invert(38%) sepia(47%) saturate(950%) hue-rotate(162deg) brightness(87%) contrast(85%);
  }
  #ak-10{
    filter: invert(48%) sepia(88%) saturate(391%) hue-rotate(135deg) brightness(89%) contrast(87%);
  }
  #ak-11{
    filter: invert(66%) sepia(62%) saturate(391%) hue-rotate(109deg) brightness(96%) contrast(85%);
  }
  #ak-12{
    filter: invert(91%) sepia(11%) saturate(790%) hue-rotate(56deg) brightness(98%) contrast(89%);
  }


  .logo [id*="ak-"]{
    opacity: 0.0;
    transition: translate ease 800ms;
    transition: 0.8s;
  }

  .logo:hover [id*="ak-"]{
    opacity: 1;
  }

  .logo:hover #ak-2{
  transform: translateY(calc(1 * var(--translateDis)));
  }
  .logo:hover #ak-2{
    transform: translateY(calc(2 * var(--translateDis)));
  }
  .logo:hover #ak-3{
    transform: translateY(calc(3* var(--translateDis)));
  }
  .logo:hover #ak-4{
    transform: translateY(calc(4* var(--translateDis)));
  }
  .logo:hover #ak-5{
    transform: translateY(calc(5 * var(--translateDis)));
  }
  .logo:hover #ak-6{
    transform: translateY(calc(6 * var(--translateDis)));
  }
  .logo:hover #ak-7{
    transform: translateY(calc(7 * var(--translateDis)));
  }
  .logo:hover #ak-8{
    transform: translateY(calc(8* var(--translateDis)));
  }
  .logo:hover #ak-9{
    transform: translateY(calc(9 * var(--translateDis)));
  }
  .logo:hover #ak-10{
    transform: translateY(calc(10* var(--translateDis)));
  }
  .logo:hover #ak-11{
    transform: translateY(calc(11* var(--translateDis)));
  }
  .logo:hover #ak-12{
    transform: translateY(calc(12* var(--translateDis)));
  }

}

/**H-Navigation Bar*/
.navbar-nav{
  text-align: center;
  color: var(--ak-black);
  font-family: var(--font-heading-2);
  font-weight:bold;
  font-size: 20px;
}
.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  width: 2.0em;
  height: 2.0em;
  border-radius: 0.5em;
  background: var(--lightModeBGcolor);
  border: 1px solid var(--lightModeBGcolor);
  transition: all .3s;
  box-shadow: 6px 6px 12px var(--boxShadowAcolor),
             -6px -6px 12px var(--boxShadowBcolor);
}

.menuButton:active {
  color: #666;
  box-shadow: inset 4px 4px 12px var(--boxShadowAcolor),
             inset -4px -4px 12px var(--boxShadowAcolor);
}

input[type = "checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 28.03px;
  height: 5px;
  background: var(--ak-black);
  border-radius: 100px;
  transition: width 0.2s, transform 0.2s 0.1s ease-in-out;
}

input[type]:not(:checked) ~ span{
  transition: width 0.2s 0.1s, transform 0.2s ease-in-out;
}
input[type]:checked ~ span.top {
  transform: translateX(-6.15px)translateY(1.8px)rotate(45deg);
  width: 10px;
}

input[type]:checked ~ span.mid {
  transform: rotate(-45deg);
}

input[type]:checked ~ span.bot {
  transform: translateX(6.15px) translateY(-1.8px)rotate(45deg);
  width: 10px;
}

/**
<-----------------------------------------------Header
*/

/**
Hero----------------------------------------------->
*/
#hero{
  font-family: var(--font-heading-2);
  font-weight: 800;
}
#hero h1{
  margin: 0px 0px 0px 10px;
  font-weight: 800;
  font-size: 80px;
}

#hero .scroll-container{
  margin:0;
  margin-bottom: 10px;
  font-size: 120%;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

#hero .scroll-list{
  text-align: left;
  list-style: none;

  -webkit-animation: change 35s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: change 35s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
#hero .scroll-list-2{
  text-align: left;
  list-style: none;

  -webkit-animation: change-2 15s infinite;
  animation: change-2 15s  infinite;
}
#hero .scroll-list-item{
  line-height: 40px;
  font-size: 25px;
  margin: 0;
}
#hero .scroll-list #te{
  font-family: var(--font-telugu);
  font-weight: 900;
}

#hero .scroll-list #ja{
  font-family: var(--font-japanese);
  font-weight: 900;
}

#hero .scroll-list #hi{
  font-family: var(--font-hindi);
  font-weight: 900;
}
#hero p{
  margin:0;
  margin-bottom: 10px;
  font-size: 150%;
}
#hero .social-links{
  margin-top: 20px;
}
#hero .social-links a{
  font-size: 25px;
  padding: 10px;
  display: inline-block;
  color: var(--ak-black);
  line-height: 1;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  transition: all 0.1s;
}
#hero .social-links a:hover{
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.changeColor{
  animation: colorAnim 20s infinite;
}

.logoMask{
  width: 500px;
  -webkit-mask: url('../images/ak.svg') center / 100% no-repeat;
  mask: url('../images/ak.svg') center / 100% no-repeat;
}

@media only screen and (max-width: 1000px)  {
  #hero h1{
    font-size: 80px;
  }
}
@media only screen and (max-width: 800px)  {
  #hero h1{
    font-size: 65px;
  }
}

@media only screen and (max-width: 500px)  {
  #hero h1{
    font-size: 75px;
  }
  .logoMask{
    width: 320px;
  }
  #hero .scroll-list-item{
    font-size: 20px;
  }

}
.ak-rainbowAnim{
  width: 100%;
}

.callForActionBtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 16px;


  color: inherit;
  border: 3px solid;
  border-color: currentColor;
  border-radius: 30px;

  font: bold 20px var(--font-text);
  text-decoration: none;

  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

}


.callForActionBtn i {
  margin-left: 10px;
  font-size: 34px;
}

.callForActionBtn:hover{
  background: currentColor;
  border-radius: 15px;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.callForActionBtn:hover span, .callForActionBtn:hover i{
  color: var(--lightModeBGcolor);
}

.callForActionBtn:active{
  -webkit-transform: scale(1);
  transform: scale(1);
}

/**
<-----------------------------------------------Hero
*/

h2{
  font-family: var(--font-heading-2);
}

.card-shadow{
  border-radius: 50px;
  background: var(--lightModeBGcolor);
  box-shadow:  9px 9px 18px var(--boxShadowAcolor),
               -9px -9px 18px var(--boxShadowBcolor);
}

/**F-Bar*/
.footer{
  font:500 var(--font-text);
  background: var(--ak-black);
  color: var(--lightModeBGcolor);
}

.footer .social-links a{
  font-size: 20px;
  padding: 10px;
  display: inline-block;
  color: var(--lightModeBGcolor);
  line-height: 1;
  text-decoration: none;
  transition: all 0.2s color 0.5s ease;
}
.footer .social-links a:hover{
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: color 0.5s ease-in-out;
}

.footer .social-links #github:hover {color: var(--githubHoverColor);}
.footer .social-links #linkedin:hover {color: var(--linkedinHoverColor);}
.footer .social-links #youtube:hover {color: var(--youtubeHoverColor);}
.footer .social-links #itchio:hover {color: var(--itchioHoverColor);}
.footer .social-links #twitter:hover {color: var(--twitterHoverColor);}
.footer .social-links #instagram:hover {color: var(--instaHoverColor);}

@keyframes colorAnim {
  0%, 100%  {color:var(--ak-1-gold)}
  8%        {color:var(--ak-2-orange)}
  16%       {color:var(--ak-3-red)}
  24%       {color:var(--ak-4-neonpink)}
  32%       {color:var(--ak-5-fuchsia)}
  40%       {color:var(--ak-6-magenta)}
  48%       {color:var(--ak-7-darkpurple)}
  56%       {color:var(--ak-8-purple)}
  64%       {color:var(--ak-9-darkblue)}
  72%       {color:var(--ak-10-turquoise)}
  80%       {color:var(--ak-11-green)}
  88%       {color:var(--ak-12-lightgreen)}
}
@keyframes backgroundColorAnim {
  0%, 100%  {background-color:var(--ak-1-gold)}
  8%        {background-color:var(--ak-2-orange)}
  16%       {background-color:var(--ak-3-red)}
  24%       {background-color:var(--ak-4-neonpink)}
  32%       {background-color:var(--ak-5-fuchsia)}
  40%       {background-color:var(--ak-6-magenta)}
  48%       {background-color:var(--ak-7-darkpurple)}
  56%       {background-color:var(--ak-8-purple)}
  64%       {background-color:var(--ak-9-darkblue)}
  72%       {background-color:var(--ak-10-turquoise)}
  80%       {background-color:var(--ak-11-green)}
  95%       {background-color:var(--ak-12-lightgreen)}
}

@-webkit-keyframes change {
  0%, 5%, 100%  {transform: translate3d(0, 0, 0);}
  10%, 15%      {transform: translate3d(0, -10%, 0);}
  20%, 50%      {transform: translate3d(0, -20%, 0);}
  30%, 35%      {transform: translate3d(0, -30%, 0);}
  40%, 45%      {transform: translate3d(0, -40%, 0);}
  50%, 55%      {transform: translate3d(0, -50%, 0);}
  60%, 65%      {transform: translate3d(0, -60%, 0);}
  70%, 75%      {transform: translate3d(0, -70%, 0);}
  80%, 85%      {transform: translate3d(0, -80%, 0);}
  90%, 95%      {transform: translate3d(0, -90%, 0);}
}

@-o-keyframes change {
  0%, 5%, 100%  {transform: translate3d(0, 0, 0);}
  10%, 15%      {transform: translate3d(0, -10%, 0);}
  20%, 50%      {transform: translate3d(0, -20%, 0);}
  30%, 35%      {transform: translate3d(0, -30%, 0);}
  40%, 45%      {transform: translate3d(0, -40%, 0);}
  50%, 55%      {transform: translate3d(0, -50%, 0);}
  60%, 65%      {transform: translate3d(0, -60%, 0);}
  70%, 75%      {transform: translate3d(0, -70%, 0);}
  80%, 85%      {transform: translate3d(0, -80%, 0);}
  90%, 95%      {transform: translate3d(0, -90%, 0);}
}

@-moz-keyframes change {
  0%, 5%, 100%  {transform: translate3d(0, 0, 0);}
  10%, 15%      {transform: translate3d(0, -10%, 0);}
  20%, 50%      {transform: translate3d(0, -20%, 0);}
  30%, 35%      {transform: translate3d(0, -30%, 0);}
  40%, 45%      {transform: translate3d(0, -40%, 0);}
  50%, 55%      {transform: translate3d(0, -50%, 0);}
  60%, 65%      {transform: translate3d(0, -60%, 0);}
  70%, 75%      {transform: translate3d(0, -70%, 0);}
  80%, 85%      {transform: translate3d(0, -80%, 0);}
  90%, 95%      {transform: translate3d(0, -90%, 0);}
}

@keyframes change {
  0%, 5%, 100%  {transform: translate3d(0, 0, 0);}
  10%, 15%      {transform: translate3d(0, -10%, 0);}
  20%, 50%      {transform: translate3d(0, -20%, 0);}
  30%, 35%      {transform: translate3d(0, -30%, 0);}
  40%, 45%      {transform: translate3d(0, -40%, 0);}
  50%, 55%      {transform: translate3d(0, -50%, 0);}
  60%, 65%      {transform: translate3d(0, -60%, 0);}
  70%, 75%      {transform: translate3d(0, -70%, 0);}
  80%, 85%      {transform: translate3d(0, -80%, 0);}
  90%, 95%      {transform: translate3d(0, -90%, 0);}

}
@keyframes change-2 {
  0%, 7%, 98%, 100% {transform: translate3d(0, 0, 0);}
  14%, 21%          {transform: translate3d(0, -14%, 0);}
  28%, 35%          {transform: translate3d(0, -28%, 0);}
  42%, 49%          {transform: translate3d(0, -42%, 0);}
  56%, 63%          {transform: translate3d(0, -56%, 0);}
  70%, 77%          {transform: translate3d(0, -70%, 0);}
  84%, 91%          {transform: translate3d(0, -84%, 0);}
}